@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

button{
  width:55px;
  padding: 20px;
  margin: 0 3px;
  border:2px solid black;
  border-radius: 9px;
  cursor:pointer;
}

.row{
  margin: 8px 0;
}

.row input{
  width:170px;
  margin:0;
  padding:10px 38px;
  border:2px solid black;
  border-radius:5px;
}
/* 
.container{
  display: block;
    border: 1px solid black;
    margin: auto 800px auto 800px;
    background-color: black;
} */

